body
{
	margin: 0;
	overflow: hidden;
}

.background
{
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
	transition: 0.35s all;
	-webkit-transition: 0.35s all;
	-moz-transition: 0.35s all;
	-o-transition: 0.35s all;
	-ms-transition: 0.35s all;
}

.background div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;
	
	background-image: none;
	background-size: cover;
	background-position: center center;
	
	transition: 0.8s all;
	-webkit-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-o-transition: 0.8s all;
	-ms-transition: 0.8s all;
}

.background div.active
{
	z-index: 1;
	opacity: 1;
	
	transition: 0.8s all;
	-webkit-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-o-transition: 0.8s all;
	-ms-transition: 0.8s all;
}

.background:before
{
	content: ' ';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.navbar-default .navbar-nav>li>a
{
	color: #e3e3e3;
	padding: 22px 15px;
	font-weight: bold;
}

.navbar-default .navbar-nav>li:last-of-type a
{
	padding-right: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default
{
	background: transparent;
	border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default { margin-bottom: 0; }
.nav > li { margin-bottom: 0; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
{
	/*background: linear-gradient(to bottom, rgba(0, 0, 0, .65), transparent);*/
	background: transparent;
	color: #e3e3e3;
}

#menu
{

	overflow: auto;
	z-index: 999;
	margin: 0;
	/*background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);*/
	padding-bottom: 40px;
	position: absolute;
	top: 0; left: 0;
	width: 100%;

	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	-ms-transition: 0.3s all;	
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { padding-right: 0; margin-right: 0; border: none; background: transparent; }
.navbar-default .navbar-brand
{
	padding: 22px 15px;
	padding-left: 0;
	font-weight: bold;
	color: #e3e3e3;
}

.navbar-default .navbar-toggle .icon-bar { background: #e3e3e3; }

.projectName
{
	display: block;
	text-align: center;
	margin-top: 21vh;
	color: #e3e3e3;
}

.aboutEvent, .participa
{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 19vh;
	padding: 20px;
	width: 100%;
	background: rgba(0, 0, 0, .6);
}

.participa
{
	padding: 8vh;
	margin-bottom: 0;
	background: transparent;
}

.eventLocation, .eventDate, .participa a
{
	color: #e3e3e3;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

@media (max-width: 768px)
{
	.background div
	{
		background-position: top center;
	}
	
	.projectName
	{
		/*margin-top: -3.5vh;*/
	}
	
	.aboutEvent
	{
		margin-bottom: 11vh;
	}
	
	#menu.active
	{
		background: rgba(255, 255, 255, .952);
		min-height: 100%;
	}
	
	.navbar-default .navbar-nav>li
	{
		text-align: center;
	}
	
	.navbar-default .navbar-nav:first-of-type>li:first-of-type { margin-top: 2rem; }
	
	.navbar-default .navbar-nav>li.active>a
	{
		color: #333;
	}
	
	.navbar-default .navbar-nav>li>a
	{
		padding: 13.5px 0;
		color: #333;
	}
	
	.navbar-toggle:hover
	{
		background: transparent !important;
	}

	.navbar-toggle .icon-bar
	{
		width: 22px;
		transition: all 0.2s;
	}

	#menu.active .navbar-toggle .top-bar
	{
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}
			  
	#menu.active .navbar-toggle .middle-bar 
	{
		opacity: 0;
	}
			  
	#menu.active .navbar-toggle .bottom-bar
	{
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}

	#menu.active .navbar-toggle.collapsed .top-bar
	{
		transform: rotate(0);      
	}
	
	#menu.active .navbar-toggle.collapsed .middle-bar
	{
		opacity: 1;
	}
	
	#menu.active .navbar-toggle.collapsed .bottom-bar
	{
		transform: rotate(0);
	}
	
	#about .eventLocation { font-weight: bold; }
}

@media (min-width: 768px) and (max-width: 991px)
{

}

@media (min-width: 992px) and (max-width: 1199px)
{

}

@media (min-width: 1200px)
{

}

.pageBody
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	
	overflow: auto;
	
	transition: 0.35s all;
	-webkit-transition: 0.35s all;
	-moz-transition: 0.35s all;
	-o-transition: 0.35s all;
	-ms-transition: 0.35s all;
	
	left: 0;
}

#about
{
	left: 100%;
	background: rgba(67, 160, 71, .925);
}

#home
{
	left: 0;
}

#about .aboutEvent
{
	position: relative;
	margin-top: 9%;
	background: transparent;
	padding: 0 15%;
}

.navbar-brand.hide { opacity: 0; }